{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" value="" name="username" placeholder="Enter Username"/>

        <label for="username">Password</label>
        <input type="password" value="" name="password" placeholder="Enter Password"/>

        <input type="submit" value="login"/>

        <p>Haven't signed up yet?</p>
        <a href="{% url 'register' %}">signup</a>

    </form>
</div>

{% else %}
<div>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register"/>
        <p>Already have an account?</p>
        <a href="{% url 'login' %}">Login</a>

    </form>
</div>

{% endif %}


{% endblock content %}}